#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#fi{
    color: red;;
}
body{
    background-color: rgb(237, 229, 185);
}
button{
    font-size: 1.2rem;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(243, 41, 18);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(36, 209, 79);
}
button:active{
    background-color: rgb(28, 115, 85);
}
input{
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
#diceimg{
    margin-top: 20px;
}